nltk==3.5
en_core_web_md==2.3.1
pandas==1.2.2
Markdown==3.3.3
praw==7.1.0
truecase==0.0.12
spacy==2.3.5
requests==2.25.1
monkeylearn==3.5.2
google_api_python_client==1.12.8
python-dotenv==0.15.0
vaderSentiment==3.3.2
