matplotlib==3.3.4
nltk==3.5
truecase==0.0.12
spacy==2.3.5
~umpy==1.20.0
requests==2.25.1
pandas==1.2.2
praw==7.1.0
monkeylearn==3.5.2
Markdown==3.3.3
google_api_python_client==1.12.8
numpy==1.20.1
python-dotenv==0.15.0
vaderSentiment==3.3.2
