Markdown==3.3.3
monkeylearn==3.5.2
en_core_web_md==2.3.1
praw==7.1.0
spacy==2.3.5
pandas==1.2.2
requests==2.25.1
nltk==3.5
truecase==0.0.12
pyfunctional==1.4.3
google_api_python_client==1.12.8
python-dotenv==0.15.0
vaderSentiment==3.3.2
